streamlit==1.30.0
pandas==2.2.2
plotly==5.18.0
textblob==0.17.1
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz#egg=en_core_web_sm
